body {
  width: 50%;
  align-items: center;
  margin: auto;
  text-align: center;
}

.color {
  border: 1px black solid;
  height: 100px;
  width: 100px;
  display: inline-block;
}

#clear-board {
  margin-bottom: 10px;
  margin-top: 10px;
}

.pixel {
  width: 40px;
  height: 40px;
  border: 1px black solid;
  display: inline-block;
}

#pixel-board {
  width: 230px;
  height: 230px;
  display: inline-block;
  /* margin-right: 75%; */
}

#button-random-color {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

